.list {
    width: 600px;
    list-style: none;
    margin: 0;
    padding: 2%;
}

.list .listItem {
    padding: 3% 2%;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list li:nth-child(even) {
    background-color: #e1e1e1;
}
